{% extends "base.html" %}

{% block title %}
    <title>Usuario - Editar</title>
{% endblock title %}

{% block content %}
<div class='update-container'>
    <div class="error-container">
        <strong>Advertencia:</strong>
        <p>Al cambiar la contraseña, no se podrán recuperar los conjuntos de claves creados previo a este cambio, si quiere conservar los conjuntos de claves, exportelas.</p>
    </div>
    <form action="" method="post" class="form">
        <h1>{{ title }}</h1>
        <br>
        <table>
            {% csrf_token %}
            {{ form.as_table }}
        </table>
        <button type="submit">Confirmar nueva contraseña</button>
        <button type="button" class="btn-back" onclick="history.back()">Cancelar</button>
    </form>
</div>
{% endblock content %}