{% extends "base.html" %}

{% block title %}
    <title>Editar usuario</title>
{% endblock title %}

{% block content %}
<div class='update-container'>
    <form method="post" class="form">
        <h1>Editar usuario</h1>
        <table>
            {% csrf_token %}
            {{ form.as_table }}
        </table>
        <div class='btn-side-to-side'>
            <button type="submit">Guardar</button>
            <a href="{% url "home" %}">Volver</a>
            <a href="{% url "update_password" %}">Cambiar contraseña</a>
        </div>
    </form>
</div>
{% endblock content %}