/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background:#d7d7d8;
    color: #0a0f35;
}

/* sidebar */
.sidebar {
    width: 15vw;
    height: 100vh;
    background: #0b3378;
    color: rgb(225, 226, 228);
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    box-shadow: 2px 0 8px rgba(0,0,0,0.1);
    position: fixed;      
    top: 0;
    left: 0;
}

.profile {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profile img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: 2px solid #f8fafc;
    margin-bottom: 0.5rem;
}

.profile h3 {
    font-size: 1.1rem;
}

.profile p {
    font-size: 0.85rem;
    opacity: 0.8;
}

/* sidebar - menu */
.menu {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 4;
}

.menu-bottom {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.menu a {
    padding: 0.7rem .8rem;
    text-decoration: none;
    font-weight: 500;
    width: 15vw;
}

.menu-off a {
    color: rgba(255,255,255,0.6); 
    pointer-events: none; /* desactiva clic */
}

.menu-off a:hover {
    background: none;
    padding-left: 1.5rem;
    cursor: not-allowed;
}

.menu-on a {
    color: #f8fafc;
    transition: 0.3s ease;
}

.menu-on a:hover {
    background: rgba(255,255,255,0.2);
    padding-left: 2rem;
}

.btn-logout {
    text-decoration: none;
    font-weight: 500;
    font-size: medium;
    color: #f8fafc;
    background: none;
    border: none;
    display: flex;;
    align-items: center;
}


/* main */
.main {
    margin-left: 14vw;
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #0a0f35;
}

.container {
    min-width: 50rem;
    display: flex;
    align-items: center;
}

.container div {
    margin: 1rem;
}

.container-roles-permisos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    text-align: center;
}

.container-roles-permisos table {
    width: 100%;
    margin-top: 1rem;
    text-align: left;

}

.container-roles-permisos td {
    border: 1px solid #ddd;
    padding: 0.8rem;
}

.container-roles-permisos th {
    border: 1px solid #ddd;
    padding: 0.8rem;
    text-align: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    background: #d7d7d8;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: .6rem;
}

.anchor {
    color: #0b3378;
    text-decoration: underline;
    align-self: center;
}

.buttons {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.buttons button {
    padding: 0.7rem 1.6rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s ease;
}

.btn-register {
    background: #0b3378; 
    color: #f8fafc;
}

.btn-register:hover {
    background: #5370a1;
}

.btn-login {
    background: #d7d7d8;
    color: #0b3378;
    border: 2px solid #0b3378;
}

.btn-login:hover {
    background: #f4f4f4;
}

.profile-info {
    display: flex;
    justify-content: space-between;
}

.profile-info-p {
    font-weight:500;
    padding:0 1rem
}

.solid-divider {
    border: 0.1px solid #ddd;
}

/* form */
.form {
    display: flex;
    flex-direction: column;
    background: #f8fafc;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: .6rem;
}

.form p {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: .5rem;
    justify-content: space-between;
}

.errorlist {
    margin-top: 1rem;
    color: rgba(255, 0, 0, 0.575);
}

.errorlist li {
    font-weight: 600;
}

.form p label, .form-p-label {
    display: block;
    text-align: left;
    width: 14rem;
    font-weight: 500;
    padding: 0 1rem;
}

.form p span {
    display: block;
    text-align: left;
    font-size: small;
    font-weight: 400;
    padding: 0 1rem;
    width: 10rem;
}

.form ul {
    display: block;
    text-align: left;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
}

.input, .form p input, form select {
    display: block;
    text-align: left;
    width: 15rem;
    padding: 0.6rem 1rem;
    margin: .5rem 0;
    background-color: #f8fafc;
    border-radius: .2rem;
    border: #d7d7d8 1px solid;
}

.form-pagos-export {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.form-pagos-export span {
    margin-top: .5rem;
}

.form-pagos-export button[type="submit"], .form-pagos-export a {
    width: 60%;
    margin: 2rem 0;
    padding: 0.7rem 1.6rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    background: #0b3378;
    color: #f8fafc;
    text-decoration: none;
    align-self: center;
}

.form-pagos-export button[type="submit"]:hover, .form-pagos-export a:hover {
    transition: 0.3s ease;
    background: #5370a1;
    cursor: pointer;
}

input[type="radio"] {
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  accent-color: #0b3378;
}

.btn-side-to-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-side-to-side button, .btn-side-to-side a {
    width: 48% !important;
    margin: 2rem !important;
}

.form-btn-side-to-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-btn-side-to-side button, .form-btn-side-to-side a {
    width: 48% !important;
    margin: 1rem !important;
}

.btn-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn-down a {
    width: 80%;
    margin: 1rem 2rem;
}

.form button[type="submit"], .form a {
    width: 60%;
    margin: 2rem 0;
    padding: 0.7rem 1.6rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    background: #0b3378;
    color: #f8fafc;
    text-decoration: none;
    align-self: center;
}
.form button[type="submit"]:hover, .form a:hover {
    transition: 0.3s ease;
    background: #5370a1;
    cursor: pointer;
}

.btn-back {
    width: 60%;
    margin: .5rem 0 .5rem 0;
    padding: 0.7rem 1.6rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    background: #0b3378;
    color: #f8fafc;
    text-decoration: none;
    align-self: center;
}
.btn-back:hover {
    transition: 0.3s ease;
    background: #5370a1;
    cursor: pointer;
}

#id_new_password1_helptext li {
    margin-bottom: .5rem;
}

.errorlist {
    color: #b30000;
    margin: 4px 0;
    font-size: 0.9em;
    list-style-type: none;
    padding: 0;
}
.error-container {
    background: #ffe5e5;
    border: 1px solid #ffcccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
}

/* listar */

.list-container {
    background-color: #f8fafc;
    display: flex;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: .6rem;
    flex-direction: column;
}

.btn-table {
    text-decoration: none;
    color: #0b3378;
}

.list-button-fa-icons {
    align-items: center;
    justify-content: center;
    width: min-content;
    margin: .1rem;
    padding: 0.3rem .7rem;
    color: #f8fafc;
    text-decoration: none;
}

/* update */
.create-client-container {
    margin: 1rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-client-container h3 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.update-container, .update-container-claves {
    background-color: #d7d7d8;
    display: flex;
    flex-direction: column;
}

.update-container th, .update-container-claves th {
    text-align: right;
}

.update-container input, .update-container-claves input {
    display: block;
    width: 15rem;
    padding-left: .5rem;
    padding-right: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.75rem;
    border-radius: .3rem;
    border: 0.063rem solid #aaa;
    font-size: .9em;
    padding: .25rem;
    background-color: transparent;
}

.update-container td {
    display: flex;
    text-align: left;
    margin: .5rem 1rem;
    align-items: center;
    justify-content: flex-start;
}

.update-container-claves td {
    display: flex;
    text-align: left;
    margin: .5rem 1rem;
    align-items: center;
}

.update-container td .errorlist, .update-container-claves td .errorlist {
    margin: auto;
    padding-left: 1rem;
    max-width: 15rem;
}

.update-container .helptext, .update-container th label, .update-container-claves .helptext, .update-container-claves th label {
    display: block;
    margin-left: 2rem;
    max-width: 15rem;
}

.update-container span, .update-container-claves span { /* sobreescribe select2 */
    background-color: transparent !important; 
}

.num-read-only {
    color: #858585;
    background-color: #aaaaaa1f !important;
}

/* detail */

.detail-container {
    background-color: #f8fafc;
    display: flex;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: .6rem;
}
.detail-container h1 {
    margin-bottom: .3rem;
}
.detail-container h2 {
    margin-bottom: 2rem;
}
.detail-container h3 {
    margin: 2rem 0;
}
.detail-container th {
    margin-right: 2rem;
}
.detail-container hr {
    margin: 2rem;
}
.detail-table {
    text-align: left;
}
.detail-table tr {
    display: flex;
    justify-content: space-between;
    padding: .3rem;
}
.detail-table td {
    max-width: 25rem;
    text-align: right;
}
.detail-container div {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detail-container div div {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.detail-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .2rem;
    padding: 0.7rem 1.1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    background: #0b3378;
    color: #f8fafc;
    text-decoration: none;
}

.list-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    margin: auto;
    padding: 0.7rem 1.1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    background: #0b3378;
    color: #f8fafc;
    text-decoration: none;
}

.list-button:hover {
    transition: 0.3s ease;
    background: #5370a1;
    cursor: pointer;
}

.detail-button:hover {
    transition: 0.3s ease;
    background: #5370a1;
    cursor: pointer;
}

/* detail table roles y permisos */
.detail-table-r-y-p {
    text-align: left;
}
.detail-table-r-y-p th {
    text-align: center;
    margin: 0;
    font-size: large;
}
.detail-table-r-y-p tr {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}
.detail-table-r-y-p td {
    width: 13rem;
    text-align: left;
    align-content: center;
}
.detail-table-r-y-p li {
    width: 13rem;
    text-align: right;
    list-style: none;
}

/* dialog box */
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-box {
    background: #f8fafc;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    max-width: 400px;
    width: 90%;
    text-align: center;
    animation: fadeIn 0.3s ease;
}

.dialog-update-container input {
    display: block;
    width: 12rem;
    padding-left: .5rem;
    padding-right: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.75rem;
    border-radius: .3rem;
    border: 0.063rem solid #aaa;
    font-size: .9em;
    padding: .25rem;
    background-color: transparent;
}

.dialog-box h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #0a0f35;
}

.dialog-box p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #0a0f35;
}

.dialog-box ul {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: #475569;
}

.dialog-box ul li {
    list-style: none;
}

.dialog-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.dialog-buttons button {
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: 500;
    transition: 0.3s;
}

.btn-confirm {
    background: #0b3378;
    color: #f8fafc;
}

.btn-confirm:hover {
    background: #0284c7;
}

.btn-cancel {
    background: #e2e8f0;
    color: #1e293b;
}

.btn-cancel:hover {
    background: #cbd5e1;
}

/* Animación */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

/* form.as_table */
form table tr td {
    padding: .5rem;
}