{% extends "base.html" %}

{% block title %}
    <title>Conjunto de Claves - Crear</title>
{% endblock title %}

{% block content %}
<div class='update-container'>
    <h1>Añadir Conjunto de Claves</h1>
    <form action="" method="post" class="form">
        {% csrf_token %}
{% if form.errors %}
<div class="error-container">
    <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li><strong>{{ field.label }}:</strong> {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<table>
  <tbody>
    <tr>
      <th><label for="id_client">Cliente:</label></th>
      <td>
        {{ form.client }}
      </td>
    </tr>
    <tr>
      <th>Clave única:</td>
      <td>{{ form.unica }}</td>
    </tr>
    <tr>
      <th>Clave S.I.I.:</td>
      <td>{{ form.sii }}</td>
    </tr>
    <tr>
      <th>Clave Factura Electrónica:</td>
      <td>{{ form.factura_electronica }}</td>
    </tr>
    <tr>
      <th>Clave Dirección de Trabajo:</td>
      <td>{{ form.dir_trabajo }}</td>
    </tr>
  </tbody>
</table>
<div class="form-btn-side-to-side">
  <button type="submit">Añadir</button>
  <a href="{% url "list_clients" %}">Cancelar</a>
</div>
</form>
</div>
{% endblock content %}