{% extends "base.html" %}

{% block title %}
    <title>Declaración de Renta - Crear</title>
{% endblock title %}

{% block content %}
<div class='update-container'>
    <h1>Añadir Declaración de Renta</h1>
    <form action="" method="post" class="form">
        <table>
            <p>Ingresar valores únicamente numéricos, sin comas ni puntos.</p>
            {% csrf_token %}
            {{ form.as_table }}
        </table>
        <button type="submit">Añadir</button>
        <button type="button" class="btn-back" onclick="history.back()">Cancelar</button>
    </form>
</div>
{% endblock content %}