{% extends "base.html" %}

{% block title %}
    <title>Declaraciones de Renta</title>
{% endblock title %}

{% block content %}
<div class='detail-container'>
    <div>
        <h1>Visualizando Declaración de Renta</h1>
        {% if p %}
        <h2>{{ p.client.nombre_rep_legal }} {{ p.client.last_name_1_rep_legal }}</h2>

        <h3>Resumen</h3>
        <table class="detail-table">
            <tr>
                <th>Estado</th>
                {% if p.a_pagar < 1 %}
                    <td style='color:green;'><strong>Sin deuda</strong></td>
                {% else %}
                    <td style='color:red;'><strong>En deuda</strong></td>
                {% endif %}
            </tr>
            <tr>
                <th>Total</th>
                <td>$ {{ p.total }}</td>
            </tr>
            <tr>
                <th>IVA Anticipado</th>
                <td>$ {{ p.iva_anticipado }}</td>
            </tr>
            <tr>
                <th>A Pagar</th>
                <td>$ {{ p.a_pagar }}</td>
            </tr>
        </table>

        <hr class="solid-divider">

        <h3>Detalles</h3>
        <table class="detail-table">
            <tr>
                <th>Cliente:</th>
                <td>{{ p.client.nombre_rep_legal }} {{ p.client.last_name_1_rep_legal }} {{ p.client.last_name_2_rep_legal }}</td>
            </tr>
            <tr>
                <th>IVA a Pagar:</th>
                <td>$ {{ p.iva_a_pagar }}</td>
            </tr>
            <tr>
                <th>PPM Sobre Vehículo:</th>
                <td>$ {{ p.ppm_vehiculo }}</td>
            </tr>
            <tr>
                <th>PPM Sobre las Ventas:</th>
                <td>$ {{ p.ppm_ventas }}</td>
            </tr>
            <tr>
                <th>Honorarios:</th>
                <td>$ {{ p.honorarios }}</td>
            </tr>
            <tr>
                <th>Certificado F30-1:</th>
                <td>$ {{ p.f301 }}</td>
            </tr>
            <tr>
                <th>Imposiciones:</th>
                <td>$ {{ p.imposiciones }}</td>
            </tr>
            <tr>
                <th>Otros:</th>
                <td>$ {{ p.otros }}</td>
            </tr>
        </table>

        <hr class="solid-divider">

        <h3>Creación</h3>
        <table class="detail-table">
            <tr>
                <th>Fecha:</th>
                <td>{{ p.created_at.day }} de {{ p.created_at|date:"F" }} del {{ p.created_at.year }}</td>
            </tr>
            <tr>
                <th>Hora:</th>
                <td>{{ p.created_at|date:"H:i" }}</td>
            </tr>
        </table>
    </div>

    <div>
        <h3>Opciones</h3>
        <div>
            <a href="{% url "update_pago" p.id %}" class='detail-button' title='Editar declaración'>
                <i class="fa fa-pencil-square-o" style="font-size:24px; padding-left:.1rem"></i>
            </a>
            <a href="{% url "delete_pago" p.id %}" class='detail-button' title='Eliminar declaración'>
                <i class="fa fa-trash" style="font-size:24px; padding-left:.1rem"></i>
            </a>
            <a href="{% url "list_pagos" %}" class='detail-button' title='Volver a declaraciones'>
                <i class="fa fa-arrow-left" style="font-size:24px; padding-left:0rem"></i>
            </a>
        </div>
    </div>
    {% else %}
    <h3>La declaración de renta no pudo ser encontrada.</h3>
    {% endif %}
</div>
{% endblock content %}