{% extends "base.html" %}

{% block title %}
    <title>Declaración de Renta - Editar</title>
{% endblock title %}

{% block content %}
<div class='update-container'>
    <form action="" method="post" class="form">
        <h1>Editar Declaración de Renta</h1>
        <h2>{{ object.client.nombre_rep_legal }} {{ object.client.last_name_1_rep_legal }}</h2>
        <br>
        <table>
            {% csrf_token %}
            {{ form.as_table }}
        </table>
        <button type="submit">Confirmar cambios</button>
        <button type="button" onclick="history.back()">Cancelar</button>
    </form>
</div>
{% endblock content %}