{% extends "base.html" %}

{% block title %}
    <title>Tipos de Contabilidad</title>
{% endblock title %}

{% block content %}
<div class='list-container'>
    <h1>Tipos de Contabilidad</h1>
    {% if id %}
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Código Identificador</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for i in id %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>No existen tipos de contabilidad registrados en el sistema.</h3>
    {% endif %}
</div>

{% endblock content %}