{% extends "base.html" %}

{% block title %}
    <title>Mi perfil</title>
{% endblock title %}

{% block content %}
<h1>Mi perfil</h1>
<div class='form'>
    <form method="post" enctype="multipart/form-data">
        <h2>Editar perfil</h2>            
        <div class='form'>
            {% csrf_token %}
            <p>
                <span class='form-p-label' style='font-weight:500;font-size:medium'>Nombre de usuario:</span>
                <span style='width:25rem;'>{{ request.user.username }}</span>
            </p>
            <p>
            </p>
            {{ form.as_p }}
            <div class='btn-side-to-side'>
                <button type="submit">Guardar</button>
                <button type="button" class="btn-back" onclick="history.back()">Cancelar</button>
            </div>
        </div>
    </form>
    <hr class='solid-divider'>
    <div style='margin-top:2rem'>
        <h2>Datos del usuario:</h2>
        <div class='form'>
            <div class='profile-info'>
                <p class='profile-info profile-info-p'>Nombre:</p>
                {% if request.user.first_name %}
                <p>{{ request.user.first_name }}</p>
                {% else %}
                <p>No hay un nombre establecido</p>
                {% endif %}
            </div>
            <div class='profile-info'>
                <p class='profile-info profile-info-p'>Apellidos:</p>
                {% if request.user.last_name %}
                <p>{{ request.user.last_name }}</p>
                {% else %}
                <p>No hay apellidos establecidos</p>
                {% endif %}
            </div>
            <div class='profile-info'>
                <p class='profile-info profile-info-p'>Correo:</p>
                {% if request.user.email %}
                <p>{{ request.user.email }}</p>
                {% else %}
                <p>No hay un correo establecido</p>
                {% endif %}
            </div>
            <a class='anchor' href="{% url "update-user" request.user.id %}">¿Desea editar sus datos de inicio de sesión?</a>
        </div>
    </div>
</div>
{% endblock content %}

<!-- pass para users test: testtest135 -->