{% extends "base.html" %}

{% block content %}
<h1>Mi perfil</h1>
<div class='container'>
    <form method="post" enctype="multipart/form-data">
        <div class='form'>
            <h2>Creación de perfil</h2>
            {% csrf_token %}
            
            {{ form.as_p }}
            <div class='btn-side-to-side'>
                <button type="submit">Guardar</button>
                <a href="{% url "home" %}">Volver</a>
            </div>
        </div>
    </form>
</div>
{% endblock content %}