{% extends "base.html" %}

{% block content %}
<h1>Mi perfil</h1>
<div class='container'>
    <form method="post" enctype="multipart/form-data">
        <div class='form'>
            <h2>Editar perfil</h2>
            {% csrf_token %}
            <p>
                <label for="">
                    Nombre de usuario 
                </label>
            </p>
            <p style='text-align:left; color:#b3b3b4;' class='input'>
                {{ request.user.username }}
            </p>
            <span style="text-align:left">El nombre de usuario no se puede editar</span>
            {{ form.as_p }}
            <div class='btn-side-to-side'>
                <button type="submit">Guardar</button>
                <a href="{% url "home" %}">Volver</a>
            </div>
        </div>
        <a class='anchor' href="{% url "home" %}">¿Desea editar sus datos de inicio de sesión?</a>
    </form>
    <div class='profile-container'>
        <h2>Datos del usuario:</h2>
        <p>Nombre: {{ request.user.first_name }}</p>
        <p>Apellido: {{ request.user.last_name }}</p>
        <p>Correo: {{ request.user.email }}</p>
    </div>
</div>
{% endblock content %}

<!-- pass para users test: testtest135 -->