{% extends "base.html" %}

{% block title %}
    <title>Usuario - Editar</title>
{% endblock title %}

{% block content %}
<div class='update-container'>
    <form action="" method="post" class="form">
        {% csrf_token %}
        <h1>{{ title }}</h1>
        <br>
        {% if form.errors %}
        <div class="error-container">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <table>
            <tr>
                <th>
                    {{ form.groups.label_tag }}
                </th>
                <td>
                    {{ form.groups }}
                    <br>
                    <span class="helptext">Por favor, escoja solo un rol</span>
                </td>
            </tr>
        </table>
        <button type="submit">Confirmar cambios</button>
        <button type="button" class="btn-back" onclick="history.back()">Cancelar</button>
    </form>
</div>
{% endblock content %}