{% extends "base.html" %}

{% block title %}
    <title>Ver roles y permisos</title>
{% endblock title %}

{% block content %}
<div class='detail-container'>
    <div class='detail-table-r-y-p'>
    <table>
    <thead>
        <tr>
            <th>Rol (Grupo)</th>
            <th>Permisos asociados</th>
        </tr>
    </thead>
    <tbody>
        {% for role in roles %}
            <tr>
                <td>
                    <hr class="solid-divider" style="margin: 0;">
                </td>
                <td>
                    <hr class="solid-divider" style="margin: 0;">
                </td>
            </tr>
            <tr>
                <td>{{ role.name }}</td>
                <td>
                    <ul>
                        {% for permiso in role.permissions.all %}
                            <li>{{ permiso.name }}</li>
                        {% empty %}
                            <li><em>Sin permisos</em></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    </div>
</div>
{% endblock content %}