{% extends "base.html" %}

{% block title %}
    <title>Clientes - Confirmar eliminación</title>
{% endblock title %}

{% block content %}
<div class='list-container'>
    <h1>Confirmar acción</h1>
    <form action="" method="post">
        <div>
            {% csrf_token %}
            <h3>¿Está seguro que desea eliminar el cliente {{ object }}?</h3>
            <p>Esta acción no se puede deshacer</p>
        </div>
        <div>
            <button type="submit">Si, eliminar</button>
            <a href="{% url "detail_client" object.id %}">No, volver</a>
        </div>
    </form>
</div>
{% endblock content %}