{% extends "base.html" %}

{% block title %}
    <title>Clientes</title>
{% endblock title %}

{% block content %}
<div class='list-container'>
    <h1>Clientes</h1>
    <div style="display: flex;align-items: center;justify-content: flex-end;">
        <form method="get" id="toggleForm">
            {% csrf_token %}
            <input type="hidden" name="show_active" value="0">
            <div style="margin: .3rem 0 .5rem 0; display:flex;">
                <label for="deactivated-clients">Mostrar clientes activos</label>
                <input
                type="checkbox"
                id="deactivated-clients"
                name="show_active"
                value="1"
                {% if show_active %}checked{% endif %}
                onchange="document.getElementById('toggleForm').submit();"
                style="margin: 0 .5rem;">
            </div>
        </form>
    </div>
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>RUN (Representante Legal)</th>
                <th>RUN (Empresa)</th>
                <th>Ver Más</th>
            </tr>
        </thead>
        {% if clientes %}
        <tbody>
            {% for c in clientes %}
            <tr>
                <td>{{ c.nombre_rep_legal }}</td>
                <td>{{ c.last_name_1_rep_legal }} {{ c.last_name_2_rep_legal }}</td>
                <td>{{ c.run_rep_legal }}</td>
                <td>{{ c.run_empresa }}</td>
                <td>
                    <a href="{% url "detail_client" c.id %}" title='Ver detalles' class="btn-ver-mas">
                    <i class="fa fa-info btn-table" aria-hidden="true" style="font-size:24px;"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
    </table>
    <h3>No hay clientes desactivados.</h3>
    {% endif %}
</div>

{% endblock content %}