{% extends "base.html" %}

{% block title %}
    <title>Clientes</title>
{% endblock title %}

{% block content %}
<div class='list-container'>
    <h1>Clientes</h1>
    {% if clientes %}
    <a href="{% url "export_clients" %}" title='Exportar clientes'>
        <i class="fa fa-file-excel-o" aria-hidden="true" style="font-size:24px;"></i>
    </a>
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>RUN (Representante Legal)</th>
                <th>RUN (Empresa)</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for c in clientes %}
            <tr>
                <td>{{ c.nombre_rep_legal }}</td>
                <td>{{ c.last_name_1_rep_legal }} {{ c.last_name_2_rep_legal }}</td>
                <td>{{ c.run_rep_legal }}</td>
                <td>{{ c.run_empresa }}</td>
                <td>
                    <a href="{% url "detail_client" c.id %}" title='Ver detalles'>
                    <i class="fa fa-info" aria-hidden="true" style="font-size:24px;"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>No hay clientes registrados en el sistema, ¿Desea <a class='anchor' href="{% url "create_client" %}">añadir uno</a>?</h3>
    {% endif %}
</div>

{% endblock content %}